trigger:
  branches:
    include:
      - main


stages:

- stage: Terraform
  displayName: 'Provision Infrastructure'
  jobs:
  - job: Terraform_Apply
    displayName: 'Terraform Apply'
    pool:
      name: 'self-hosted-pool-azure'
    steps:


    - task: DownloadSecureFile@1
      name: download_ssh_key
      inputs:
        secureFile: 'id_ed25519.pub'

    - script: |
        echo "Copying SSH public key into Terraform module"

        mkdir -p ~/.ssh
        cp $(download_ssh_key.secureFilePath) ~/.ssh/id_ed25519.pub

        # Now copy into Terraform module path
        cp $(download_ssh_key.secureFilePath) terraform/id_ed25519.pub

        echo "Listing contents of terraform/"
        ls -al terraform/
      displayName: 'Extract SSH Public Key for Terraform'

    - task: AzureCLI@2
      inputs:
        azureSubscription: 'my-service-principal'
        scriptType: bash
        scriptLocation: inlineScript
        workingDirectory: $(System.DefaultWorkingDirectory)/terraform
        inlineScript: |
          echo "##[group]Terraform Init/Plan/Apply"
          cd terraform
          terraform init -input=false 
          terraform plan -input=false
          terraform apply -input=false -auto-approve
          echo "##[endgroup]"
